{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<!-- <div class="backgroundlogin" > -->
<div class="container">
	{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
	<div>
	<div class="box" style="width: 20%;">

	</div>
	<div class="box logincenter" >
		<form method="Post" action="">
			{{ wtf.quick_form(form) }}
				
			<span class="center">
				<a href=" {{ url_for('auth.password_reset_request') }}"> <small class="text-muted pink">Forgot Password? </small></a>
				<a  href=" {{ url_for('auth.register') }}">
				<small class="text-muted pink small-text">Create Account</small> </a>
				</span>
		</form>
	</div>
	<div class="box"  style="width: 20%;">

	</div>
</div>
</div>

<!-- </div> -->
{% endblock content %}


