{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
	{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
	<div class="middle fifty-box" style="max-width: 50%;">
		<form method="Post" action="">
			{{ form.hidden_tag()  }}
			{{ wtf.quick_form(form) }}
				
			<span class="center">
				<a href=" {{ url_for('auth.password_reset_request') }}"> <small class="text-muted pink">Forget Password? </small></a>
				<a  href=" {{ url_for('auth.register') }}">
				<small class="text-muted pink small-text">Create Account</small> </a>
				</span>
		</form>
	</div>
</div>

{% endblock content %}