{% extends "base.html" %}

{% block page_content %}

  <div class="page-header">
    <h3>
      About us
    </h3>
  </div>
  <img class="rounded article-image" width="100" height="100" src= "{{pic}}">
  <p>
  </br>
  BuyYourStuffHere is developed by Samarth Rout and came to life as an online shopping business in the beautiful town of Dublin, Ireland. Efforts are towords creating a better everyday life for people. There are a wide range of products available in the portal. </p>
<br>
  <p>Go back to products section <a href="{{url_for('main.products')}}">here.</a></p>

{% endblock %}