{% extends "base.html" %}
{% block page_content %}

<div class="page-header">
  <h3>{% if total == 0 %}
   Shopping cart is empty.
    {% else %}
    Your shopping cart has {{total}} items.
    {% endif %}
  </h3>
</div>

<div class="container">
  <div class="cart-items">
    {% for item in items %}
     <div class="box-1">
      <div class="cart-image">
        <a href="">
          <img class="rounded article-image" width="100" height="100" src= "{{item["image"]}}"></a>
      </div>
      <div class="cart-left">
        <b> <h5>{{ item["title"] }}</h5></b>
    <form name="si" action="{{ url_for('main.update_cart', item_id=item['product_id'], item_attr = item['quantity'] ) }}" method='post' > 
      Qty:
      <select id="qnty_ddl" name="si" class = "cart-ddl" onchange="this.form.submit()">
        {% for q in range(1,10) %}
        <option value="{{q}}" {% if q ==  item["quantity"] %} selected {% endif %}>{{q}}</option>
        {% endfor %} 
        </select>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      </form>

        <b> <h5>Price: € {{ item["price"] }}</h5></b>
        <b> <h5>Total: € {{ item["price"]}}  *  {{ item["quantity"] }}</h5></b>

        <b><a href=" {{url_for('main.remove_from_cart',item_id=item['product_id'])}}">Remove</a></b>
      </div>
    </div>
        {% endfor %}
  </div>
  <br>
  {% if total != 0 %}
  <div class="cart-payment">
    <h3>Cart Summary</h3>
  </br>
    <h4>Total Items:  {{total}}</h4>
    <h4>Total Price:  {{totalcost}} €</h4>
  </br>
    <a class="btn btn-primary btn-block" href="{{url_for('main.checkout',count=total,cost=totalcost)}}">Checkout</a>
  </div>
  {% endif %}
</div>


{% endblock %}

