{% extends "base.html" %}
{% block page_content %}

<div class="page-header">
    <h3>
     Welcome to checkout.
    </h3>
  </div>

<div class="container">
  <form name="processorder" action="{{ url_for('main.processorder', count=count, totalcost=totalcost) }}" onsubmit="return validateForm()" method="post">
    <div>
<div class="checkout-left">
  <div class="checkout-payment, box-1"> 
    <h3>Enter Address Details</h3>
    <div>
        <div class="form-group">
          <label for="inputname">Name *</label>
          <input type="text" class="form-control form-control-large" maxlength="30" name="inputname" id="inputname" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="inputAddress1">Street address 1 *</label>
          <input type="text" class="form-control form-control-large" maxlength="50" name="inputAddress1" id="inputAddress1" placeholder="Enter address">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Street address 2</label>
          <input type="text" class="form-control form-control-large" maxlength="50" name="inputAddress2" id="inputAddress2" placeholder="Enter address">
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <label for="inputZip">ZIP Code *</label>
              <input type="text" class="form-control form-control-small" maxlength="7" name="inputZip" id="inputZip" placeholder="Enter zip">
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label for="inputCity">City *</label>
              <input type="text" class="form-control" maxlength="15" name="inputCity" id="inputCity" placeholder="Enter city">
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label for="inputState">State *</label>
              <input type="text" class="form-control" maxlength="15" name="inputState" id="inputState" placeholder="Enter state">
            </div>
          </div>
        </div>  
    </div>
  </div>
    <!-- <div class="checkout-payment, box-1"> 

      <h3>Enter Payment Details</h3>
    
      <div class="box-1">
        <form role="form" class="">
          <div class="form-group">
            <label for="inputcardnumber">Card Number *</label>
            <input type="text" class="form-control form-control-large" name="inputcardnumber" id="inputcardnumber" placeholder="Enter card number">
          </div>
          <div class="form-group">
            <label for="inputcardname">Name on Card *</label>
            <input type="text" class="form-control form-control-large" name="inputcardname"  id="inputcardname" placeholder="Enter name on card">
          </div>
          <div class="form-group">
            <label for="inputcardexpiry">Expiry *</label>
            <input type="text" class="form-control form-control-large" name="inputcardexpiry"  id="inputcardexpiry" placeholder="Enter card expiry">
          </div>
        </form>    
      </div> 
    
    </div> -->

</div>
<div class="checkout-right">
<div class="checkout-total"> 

  <h3>Order Summary</h3>
  <h5>Total items : <span class="right">{{count}}</span></h5>
  <h5>Total Payable : <span class="right">{{totalcost}}</span></h5>

</div>
<input class="btn btn-primary" type='submit' value="Make Payment"/>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</div>
</div>
</form>
</div>

{% endblock %}

{% block scripts %}

<script>

const required = ["inputname", "inputAddress1","inputZip","inputCity","inputState"];

  function validateForm() {
    
    let nametxt = document.forms["processorder"]["inputname"].value;

    if (nametxt.length === 0 && required.includes(nametxt))
    {
      debugger
      alert("Name cannot be empty.");
      return false;
    }

     var regex = /^\w{1}[a-zA-Z\s]{4,29}/
    
     if(regex.test(nametxt) == false){
       debugger
       alert("Name must have 4 characters atleast. It can have alphabets and spaces. Remove spaces from beginning if any.");
       return false;
     }

     var regex = /[!@<>%\$"#+]+/

     if(regex.test(nametxt) == true){
       debugger
       alert("Special characters not allowed in the name field.");
       return false;
     }


    let inputAddress1 = document.forms["processorder"]["inputAddress1"].value;
    var regex = /^\w{1}[\w\#\,\s\-\.\(\)]{4,49}/
    if(regex.test(inputAddress1) == false){
      alert("Address must not be empty or more than 50 characters. It shouldn't contain @/\\+%! ");
      return false;
    }

    let inputZip = document.forms["processorder"]["inputZip"].value;
    var regex = /^[a-zA-Z0-9]{5,7}/
    if(regex.test(inputZip) == false){
      alert("Zipcode must be 5-7 in length alphanumeric only.");
      return false;
    }

    let inputCity = document.forms["processorder"]["inputCity"].value;
    if (inputCity == "") {
      alert("City must be filled out");
      return false;
    }

    let inputState = document.forms["processorder"]["inputState"].value;
    if (inputState == "") {
      alert("State must be filled out");
      return false;
    }
  }
  </script>

{%endblock%}