{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
  <h3>
    Contact us
  </h3>
</div>

<div>

  <div class="bigbox">

    <img class="" height="50px" src="{{phone_icon}}">

    </br>
    <small class="text-muted" id="des"></small><br>
    <strong>Call us </strong>
    </br>
    </br>
    <p>
      <strong>Hours of Operation:</strong></br>
      Sunday - Saturday 9:00am - 10:00pm (ET)
      <br>

      <a>+353-89-270-379X</a>
    </p>
  </div>

  <div class="bigbox">

    <img class="" height="50px" src="{{email_icon}}">

    </br>
    <small class="text-muted" id="des"></small><br>
    <strong>Email us </strong>
    </br>
    </br>
    <p>
      <strong>Hours of Operation:</strong><br>
      Sunday - Saturday 24*7
      <br>
      Email: <u>10563415SA@gmail.com<u>
          <br>

    </p>



  </div>
  <div class="bigbox">
    <h5>Go back to products section <a href=" {{url_for('main.products')}}">here.</a></h5>
  </div>


  {% endblock %}